name: Deploy to Heroku

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.13.15 # Versión actualizada
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "evaluacionheroku" # ASEGÚRATE que este nombre sea exacto al de tu panel
          heroku_email: "gerencia.spulboy@gmail.com"
          usedocker: false    # SUSTITUYE POR EL TUYO